body {
    font-family: 'Exo';
}

.layout {
    min-width: 80%;
}

h2 {
    font-family: 'Rubik';
    font-weight: 900;
    border: 0 solid;
}

h1 {
    text-align: center;
    background: linear-gradient(120deg,#6128a1,#e94b59);
    font-size: 4rem;
    font-weight: bolder;
}

hr {
    border: 2px solid black;
}